<%-include("partials/header") %>

<main>
    <div class="container">
        <h1 class="color-5 mt-3">Modifica una publicación</h1>
        <hr>
        <form enctype="application/x-www-form-urlencoded" action="/posts/update/<%= post.id %>" method="post" class="form color-1">
            <input type="hidden" name="_method" value="PATCH">
            
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Modifica el título...">
            </div>
            <div class="mb-3">
                <label for="detalle" class="form-label">Detalle</label>
                <input type="text" class="form-control" id="detalle" name="detalle" placeholder="Modifica el detalle...">
            </div>
            <div class="mb-3">
                <label for="url_imagen" class="form-label">Url de la imagen</label>
                <input type="url" class="form-control" id="url_imagen" name="url_imagen" placeholder="Modifica la url de la imagen...">
            </div>

            <button type="submit" id="btn-update" class="btn btn-black">Actualizar publicación</button>
        </form>
    </div>
</main>
<hr>
</div>

<%-include("partials/footer") %>