<%-include("partials/header") %>

<main class="color">
    <div class="container">
        <form enctype="application/x-www-form-urlencoded" action="/posts/create" method="post">
            <label for="titulo"></label>
            <input type="text" id="titulo" name="titulo" placeholder="Ingresa el título..." required>
            <label for="detalle"></label>
            <input type="text" id="detalle" name="detalle" placeholder="Ingresa el detalle..." required>
            <label for="url_imagen"></label>
            <input type="url" id="url_imagen" name="url_imagen" placeholder="Ingresa el url de la imagen..." required>
            <button type="submit" id="btn-create">Crear nueva publicación</button>
        </form>
    </div>
</main>
<hr>
</div>

<%-include("partials/footer") %>