<%-include("partials/header") %>

<main>
    <div>
        <h1 class="text-center m-4 py-4 color-5">Blog TodoRojoCAI</h1>
    </div>
</main>
<hr>
<section>
    <div class="d-flex m-2">
        <h2 class="color-5 m-0">NOTICIAS</h2>
    </div>
    <div class="container d-flex justify-content-center">
        <img class="noticias" src="/img/fondo.jpg">
        <!-- <img class="noticias" src="/img/noticias-1.jpg"> -->
    </div>
    <a class="btn btn-black m-2 mt-3" type="button" href="/posts">Ver Blog</a>
</section>
<hr>
</div>
<section class="color-b-5 stadium p-4">
    <div class="container mt-5 mb-2 d-flex flex-column align-items-center justify-content-center gap-5">
        <h2 class="text-center color-5">Rey de Copas</h2>
        <img src="/img/copas.png">
    </div>
</section>
<%-include("partials/footer") %>