:root {
    --color: rgb(236, 28, 36);
    --color-1: rgb(20, 20, 20);
    --color-2: rgb(29, 29, 29);
    --color-3: rgb(74, 74, 74);
    --color-4: rgb(170, 169, 158);
    --color-5: rgb(248, 248, 248);
}

* {
    font-family: 'Lora', serif;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

img {
    pointer-events: none
}

.color-b {
    background-color: var(--color)
}

.color-b-1 {
    background-color: var(--color-1)
}

.color-b-2 {
    background-color: var(--color-2)
}

.color-b-3 {
    background-color: var(--color-3)
}

.color-b-4 {
    background-color: var(--color-4)
}

.color-b-5 {
    background-color: var(--color-5)
}

.color {
    color: var(--color)
}

.color-1 {
    color: var(--color-1)
}

.color-2 {
    color: var(--color-2)
}

.color-3 {
    color: var(--color-3)
}

.color-4 {
    color: var(--color-4)
}

.color-5 {
    color: var(--color-5)
}

.btn-black {
    background-color: black;
    color: white;
    transition: 0.2s ease;
    box-shadow: 1px 1px 3px 0.5px rgba(28, 28, 28, 0.586);
}

.btn-black:hover {
    background-color: rgb(17, 17, 17);
    color: white;
    transform: scale(0.95);
}

.btn-black:active {
    background-color: rgb(17, 17, 17);
    color: white;
}

.btn-red {
    background-color: var(--color-1);
    color: white !important;
    transition: 0.2s ease;
    box-shadow: 1px 1px 3px 0.5px rgba(28, 28, 28, 0.586);
}

.btn-red:hover {
    background-color: var(--color);
    transform: scale(0.95);
}

.btn-red:active {
    background-color: var(--color) !important;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h1 {
    font-size: 50px;
}

/* NAV */

.logo {
    height: 56px;
}

.sponsors {
    height: 50px;
}

i {
    margin: 0 15px 0 15px;
    transition: 0.2s ease-in-out;
}

.stadium {
    background-image: url('../img/estadio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav h3 {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 0.2px solid var(--color-4);
}

/* POSTS */

.div-posts a {
    color: var(--color-1);
}

.div-posts a:hover {
    color: var(--color);
}

.col {
    margin: 0;
    padding: 0;
}

.noticias {
    width: 100%;
    box-shadow: 1px 2px 4px 1px var(--color-2);
}

.noticias img {
    width: 100%;
}

.fondo-posts {
    background-image: url('../img/fondo-rojo.jpg');
    background-size: auto;
    background-repeat: repeat;
}

p {
    font-size: 14px;
}

.copas {
    max-width: 100%;
    height: auto;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.blog p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

@media screen and (max-width: 767px ) {
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

/* CARD */
.card-img-top img {
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.card-img-top {
    margin: 10px 10px 10px 10px;
}

.card-box {
    background-color: var(--color-5);
    box-shadow: -1px 1px 3px 0px var(--color-2);
    border-radius: 10px;
    transition: 0.2s ease;
}

.card-box:hover {
    transform: scale(0.995);
}

/* CARD - 1 */
.card-img-top-1 img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.card-box-1 {
    background-color: var(--color-5);
    box-shadow: -1px 1px 3px 0px var(--color-2);
    border-radius: 10px;
    transition: 0.2s ease;
    opacity: 0.98;
}

.card-box-1:hover {
    transform: translateY(3px);
}

/* DETAIL */
.card-img-top-detail img {
    width: 600px;
    object-fit: cover;
    border-radius: 5px;
}

/* FORM */
.form {
    margin: 15px;
    width: 85%;
}

form {
    width: 35%;
}

footer img {
    margin: 15px;
    height: 160px;
}

form label {
    font-size: 22px;
}

/* FOOTER */

footer a {
    color: var(--color-1);
}

footer a:hover {
    color: var(--color);
}

a {
    color: var(--color-5);
}

a:hover {
    color: var(--color-2);
}

.section-posts {
    margin: 0;
    padding: 0;
}
